<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <h2>Torsi</h2>
    <p>torsi = gaya.panjanglengan</p>
    <p>inersia = massa.r^2</p>
    <ul>
        <li>batang = 1/3 atau 1/12</li>
        <li>bola pejal = 2/5</li>
        <li>bola berongga = 2/3</li>
    </ul>
    <p>momen sudut = inersia.kecepatan sudut</p>
    <p>kekekalan momentum, I1.W1 = I2.W2</p>
    <ul>
        <h4>energi kinetik benda menggelinding</h4>
        <li>ek = 1/2.m.v^2 = 1/2.m.W^2</li>
        <li>ektotal = 1/2.m.(v^2+w^2) = 1/2.m.v^2(1+K)</li>
        <h4>benda menggelinding pada bidang miring</h4>
        <li>a = (g.sin(x))/(1+k)</li>
        <li>v^2 = (2.g.h)/(1+k)</li>
    </ul>
    <ul>
        <h4>keseimbangan benda tegar</h4>
        <li>syarat keseimbangan : sigma F = 0 / sigma torsi = 0</li>
    </ul>
    <ul>
        <h4>titik berat</h4>
        <li>(x1.a1 + x2.a2 + x3.a3 + ... + xn.an)/(a1+a2+a3+...+an)</li>
    </ul>
    <h2>sifat elastis</h2>
    <p>tegangan = gaya/luas permukaan</p>
    <p>regangan = delta L/L awal</p>
    <p>Modulus elastisitas = tegangan/regangan</p>
    <ul>
        <h4>hukum hooke</h4>
        <li>f = k.delta x</li>
        <li>k = a.e/L awal</li>
        <li>k = f.delta x</li>
    </ul>    
    <ul>
        <h4>energi potensial pegas</h4>
        <li>ep = 1/2.k.delta x</li>
        <li>ep = 1/2.k.delta x^2</li>
    </ul>
    <ul>
        <h4>susunan pegas</h4>
        <ul>
            <h5>pegas seri</h5>
            <li>fs = f1 = f2</li>
            <li>delta xs = delta x1 + delta x2 + ...</li>
            <li>1/ks = 1/k1 + 1/k2 + ... </li>
            <h5>pegas paralel</h5>
            <li>fp = f1 + f2 + ...</li>
            <li>delta xp = delta x1 = delta x2</li>
            <li>kp = k1 + k2 + ...</li>
        </ul>
    </ul>
    <h2>fluida statis</h2>
    <p>tekanan = gaya/luas permukaan</p>
    <p>ph = rho.g.h</p>
    <p>tekanan mutlak = tekanan udara + tekanan hidrostatis</p>
    <h4>hukum utama hidrostatis</h4>
    <p>Pa = Pb</p>
    <p>rho a.g.h a = rho b.g.h b</p>
    <h4>hukum pascal</h4>
    <p>P1 = P2</p>
    <p>F1/A1 = F2/A2</p>
    <h4>hukum archimedes</h4>
    <p>Fa = Berat di udara - berat di air</p>
    <p>Fa = rho a.vb</p>
    <h2>fluid dinamis</h2>
    <h4>debit</h4>
    <p>q=v/t</p>
    <p>q = a.v</p>
    <h4>persamaan kontinuitas</h4>
    <p>Q1 = Q2</p>
    <p>A1.V1 = A2.V2</p>
    <h4>Persamaan bernoulli</h4>
    <p>P1 + rho.g.h + 1/2 rho.v1^2 = P2 + rho.g.h2 + 1/2.rho.v2^2</p>
    <h4>teorema tericolli</h4>
    <p>v^2 = 2.g.h1</p>
    <p>x = 2.akar(h1.h1)</p>
    <h4>gaya angkat pesawat terbang</h4>
    <p>f1-f2 = 1/2.rho.A.(v2^2-v1^2)</p>
</body>
</html>